<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/search_imdb" method="GET" >
		
		<input type="text" name="search" placeholder='Search'  > <br>
		<button type="submit"> Search </button>

	</form>
</body>
</html>