.square{
	width: 100px;
	height: 100px;
	visibility: hidden;
	
}

.visible{
	visibility: visible;
}

#green {
	
	background-color: green;
	

}

#red {
	
	background-color: red;
	

}

#blue {
	
	background-color: blue;
	
}

#yellow {
	
	background-color: yellow;
	

}




