<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	

	<div>Please add you new task content below and click submit</div>
	
	<form action="/create_task" method="GET">
		
		<input type="text" name="content" value = 'Add content new task' > 
		<button type="submit"> Add </button>

	</form>


</body>
</html>