
<!doctype html>
<html>

<head>
  <title>Add | Online Calculator</title>
</head>

<body>

	<form action="/calculated" method="POST">
		<input type="number" name="first_number" value = '<%= first_number %>' > and 
		<input type="number" name="second_number" placeholder="2nd number">
		
		<button type="submit" name="operation" value="add" >Add</button>
		<button type="submit" name="operation" value="substract" >Substract</button>
		<button type="submit" name="operation" value="multiply" >Multiply</button>
		<button type="submit" name="operation" value="divide" >Divide</button>

	</form>

	<img src="http://globe-views.com/dcim/dreams/calculator/calculator-01.jpg" alt="Logo" height="42" width="42">
	

	

</body>
</html>