
<!doctype html>
<html>

<head>
  <title>Result | Online Calculator</title>
</head>

<body>
  	

	
	<form action="/new_calculation" method="GET">
		
	
		
		<%= text %>
		
 		<input type="checkbox" name= "saved" value=true>
		<button type="submit">New Calculation</button>
		

	</form>
	<img src="http://globe-views.com/dcim/dreams/calculator/calculator-01.jpg" alt="Logo" height="42" width="42">
	

	

</body>
</html>